body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("https://i.pinimg.com/originals/96/42/1a/96421a97b83034f52c410befe7cefa20.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 50px;
    font-family:serif
    
}

#message-el {
    font-style: italic;
    font-size: 32px;
    font-family: cursive;
    margin-bottom: 20px;
}

#cards-el {
    margin-bottom: 20px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
}